* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: calc-font, arial;
}

@font-face {
    font-family: calc-font;
    src: url(RobotoMono-VariableFont_wght.ttf)
}

body {
    background-image: url(calc_backFixed.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: red;
}

.calculator-body {
    width: 60%;
    height: 80%;
    background-color: lightgray;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    border-radius: 15px;

}

.company-container {
    margin: 8px 0px 5px 15px;
    flex: 0.1 1 auto;

}

h5 {
    font-family: Arial, Helvetica, sans-serif;
}

.display-container {
    display: flex;
    background-color: black;
    width: 100%;
    flex: 1 0 auto;
    
}

input {
    height: 50%;
    width: 100%;
    text-align: right;
    align-self: center;
    border: none;
    font-size: 300%;

}

.buttons-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    flex: 2.5 1 auto;
    
}

button {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(167, 162, 162);
    margin: 10px;
    border-radius: 10px;
    font-size: 200%;
}

#clear {
    background-color: rgb(241, 241, 14);
}

#one, #two, #three, #four, #five, #six, #seven, #eight, #nine, #zero {
    color: white;
    
    background-color: black;
}

#equal {
    grid-column: span 2;
}

button:hover {
    transform: scale(1.05);
}